.header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--whiteColorDeam);
  padding: 1rem 8% !important;
  z-index: 1000;
  box-shadow: 0 2px 4px rgb(2 15 29 / 0.242);
  transition: 0.5s ease;
}

.logo {
  color: var(--blackColor);
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;

  .icon {
    font-size: 25px;
    color: var(--primaryColor);
    margin-right: 7px;
  }
}

.navBar {
  @media screen and (min-width: 768px) {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .navList {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1.5rem;
    margin: 0;
    padding: 0;

    .navItem {
      .navLink {
        color: var(--textColor);
        font-size: 0.9rem;
        font-weight: 600;
        white-space: nowrap;
        transition: 0.3s ease;

        &:hover {
          color: var(--primaryColor);
        }
      }
    }
  }
}

/* --- Mobile Responsive --- */
@media screen and (max-width: 768px) {
  .header {
    padding: 1rem 1.5rem !important;
  }

  .navBar {
    width: 80%;
    height: max-content;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgb(2 15 29 / 0.904);
    position: absolute;
    top: -500rem;
    left: 10%;
    padding: 3rem 1rem 2rem;
    background-color: var(--whiteColorDeam);
    display: flex;
    flex-direction: column;
    z-index: 2000;
    transition: top 0.7s cubic-bezier(0.4, 0, 0.2, 1);

    .navList {
      flex-direction: column;
      gap: 1.5rem;

      .navItem {
        text-align: center;
      }
    }

    .closeNavbar {
      position: absolute;
      top: 1rem;
      right: 1.5rem;
      color: var(--primaryColor);
      font-size: 25px;
      cursor: pointer;

      &:hover {
        color: var(--secondaryColor);
      }
    }
  }

  .activeNavbar {
    top: 7rem;
  }
}

@media screen and (min-width: 768px) {
  .toggleNavbar,
  .closeNavbar {
    display: none;
  }
}

.toggleNavbar {
  cursor: pointer;
  .icon {
    font-size: 25px;
    color: var(--primaryColor);
  }
}
