.header {
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: var(--whiteColorDeam);
  padding: 1rem 6rem;
  z-index: 1000;
  -webkit-box-shadow: 0 2px 4px rgb(2 15 29 / 0.242);
  box-shadow: 0 2px 4px rgb(2 15 29 / 0.242);
  transition: 3s ease;
}
.logo {
  color: var(--blackColor);
  font-weight: 600;
  cursor: pointer;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  .icon {
    font-size: 25px;
    color: var(--primaryColor);
  }
}
.navList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  margin: auto;
  .navItem {
    padding: 0 10px;
    padding: auto;
    .navLink {
      color: var(--textColor);
      font-size: 0.9rem;
      font-weight: 600;
      &:hover {
        color: var(--primaryColor);
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1.5rem;

  }
  .navBar {
    width: 80%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    border-radius: 1rem;
    -webkit-box-shadow: 0 2px 4px rgb(2 15 29 / 0.904);
    box-shadow: 0 2px 4px rgb(2 15 29 / 0.904);
    position: absolute;
    top: -500rem;
    left: 10%;
    padding: 1rem;
    background-color: var(--whiteColorDeam);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 2000;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    .navList {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 100%;
      margin: auto;
      padding: 0.5rem 0;
      .navItem {
        padding: 0.5rem 0;
        .navLink {
          color: var(--textColor);
          font-size: 0.9rem;
          font-weight: 600;
          &:hover {
            color: var(--primaryColor);
          }
        }
      }
      .btn {
        margin-top: 1rem;
        a {
          font-weight: 600;
          color: var(--whiteColor);
        }
      }
    }
    .closeNavbar {
      position: absolute;
      top: 1rem;
      right: 1.5rem;
      color: var(--primaryColor);
      &:hover {
        color: var(--secondaryColor);
      }
    }
  }
  .activeNavbar {
    top: 7rem;
  }
  .toggleNavbar {
    .icon {
      font-size: 25px;
      color: var(--primaryColor);
      &:hover {
        color: var(--secondaryColor);
      }
    }
  }
}
.toggleNavbar {
  .icon {
    font-size: 25px;
    color: var(--primaryColor);
    &:hover {
      color: var(--secondaryColor);
    }
  }
}
@media screen and (min-width: 768px) {
  .toggleNavbar,
  .closeNavbar {
    display: none;
  }
  .navBar {
    .navList {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: auto;
      .navItem {
        padding: 0 10px;
        padding: auto;
        .navLink {
          color: var(--textColor);
          font-size: 0.9rem;
          font-weight: 600;
          &:hover {
            color: var(--primaryColor);
          }
        }
      }
    }
  }
}
