// .home {
//   width: 100%;
//   top: 33px;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   justify-content: center;
//   position: relative;
//   margin: auto;
//   padding: 8rem 0 4rem;
// }
// .overlay {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: 1;
//   background-color: #396e82;
//   mix-blend-mode: hard-light;
// }
// .video {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   -o-object-fit: cover;
//   object-fit: cover;
// }
// .HomeContent {
//   z-index: 2;
//   width: 100%;
//   .textDiv {
//     padding: 1rem 0;
//     color: var(--whiteColor);
//     .smallText {
//       font-size: 13px;
//     }
//     .homeTitle {
//       font-weight: 600;
//       font-size: 1.9rem;
//       width: -webkit-fit-content;
//       width: -moz-fit-content;
//       width: fit-content;
//       position: relative;
//       &::after {
//         content: "";
//         width: 115px;
//         height: 4px;
//         background-color: var(--secondaryColor);
//         position: absolute;
//         top: 2.4rem;
//         left: 12rem;
//         z-index: -1;
//       }
//     }
//   }
// }
// .formDiv {
//   background-color: var(--whiteColor);
//   border-radius: 8px;
//   width: 100%;
//   padding: 2rem 1.5rem 1rem;
//   margin: 2rem 0 3rem;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-orient: vertical;
//   -webkit-box-direction: normal;
//   -ms-flex-direction: column;
//   flex-direction: column;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   justify-content: center;
//   height: -webkit-fit-content;
//   height: -moz-fit-content;
//   height: fit-content;
// }
// .homeInputs {
//   margin: 0;
//   width: 100%;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -ms-flex-wrap: wrap;
//   flex-wrap: wrap;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
//   -webkit-box-pack: justify;
//   -ms-flex-pack: justify;
//   justify-content: space-between;
// }
// .searchDiv,
// .dateDiv,
// .priceDiv {
//   width: 32%;
// }
// .input {
//   background-color: var(--inputColor);
//   border-radius: 3rem;
//   height: 35px;
//   width: 100%;
//   margin-top: 6px;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   justify-content: center;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
//   input {
//     outline: none;
//     border: none;
//     width: 90%;
//     font-size: 12px;
//     background: none;
//     &::-webkit-input-placeholder {
//       font-size: 13px;
//     }
//     &::-moz-placeholder {
//       font-size: 13px;
//     }
//     &:-ms-input-placeholder {
//       font-size: 13px;
//     }
//     &::-ms-input-placeholder {
//       font-size: 13px;
//     }
//     &::placeholder {
//       font-size: 13px;
//     }
//   }
// }
// .searchDiv {
//   overflow: hidden;
//   label {
//     color: var(--textColor);
//     font-size: 12px;
//   }
//   .glicon {
//     font-size: 18px;
//     margin-top: 6px;
//   }
// }
// .dateDiv {
//   label {
//     color: var(--textColor);
//     font-size: 12px;
//   }
// }
// .priceDiv {
//   label {
//     color: var(--textColor);
//     font-size: 12px;
//   }
//   h3 {
//     position: absolute;
//     right: 30px;
//     color: var(--textColor);
//     font-size: 15px;
//   }
// }
// .filterOptions {
//   position: relative;
//   bottom: -35px;
//   color: var(--whiteColor);
// }
// .homeIcons {
//   color: var(--whiteColorDeam);
//   font-size: 23px;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   margin-top: -16px;
//   -webkit-box-pack: justify;
//   -ms-flex-pack: justify;
//   justify-content: space-between;
//   .socialIcons {
//     padding-right: 4px;
//     cursor: pointer;
//     &:hover {
//       color: var(--secondaryColor);
//     }
//   }
// }
// @media screen and (max-width: 768px) {
//   .home {
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-box-pack: center;
//     -ms-flex-pack: center;
//     justify-content: center;
//   }
//   .HomeContent {
//     position: relative;
//     width: 100%;
//     -webkit-box-align: stretch;
//     -ms-flex-align: stretch;
//     align-items: stretch;
//   }
//   .container {
//     padding-left: 1.5rem;
//     padding-right: 1.5rem;
//   }
//   .formDiv {
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-box-orient: vertical;
//     -webkit-box-direction: normal;
//     -ms-flex-direction: column;
//     flex-direction: column;
//     -webkit-box-pack: center;
//     -ms-flex-pack: center;
//     justify-content: center;
//     -webkit-box-align: center;
//     -ms-flex-align: center;
//     align-items: center;
//     width: 100%;
//     position: relative;
//     padding: 2rem 2rem;
//     .homeInputs {
//       width: 100%;
//       -webkit-box-align: center;
//       -ms-flex-align: center;
//       align-items: center;
//       display: -webkit-box;
//       display: -ms-flexbox;
//       display: flex;
//       -webkit-box-orient: vertical;
//       -webkit-box-direction: normal;
//       -ms-flex-direction: column;
//       flex-direction: column;
//       -webkit-box-pack: center;
//       -ms-flex-pack: center;
//       justify-content: center;
//       gap: 1.5rem;
//     }
//     .input {
//       height: 30px;
//       width: 100%;
//       gap: 6px;
//       input {
//         width: 90%;
//       }
//     }
//   }
//   .searchDiv,
//   .dateDiv,
//   .priceDiv {
//     width: 100%;
//   }
//   .searchDiv {
//     input {
//       margin-left: 6px;
//     }
//     .glicon {
//       font-size: 18px;
//       margin-top: 6px;
//     }
//   }
//   .priceDiv {
//     h3 {
//       position: absolute;
//       right: 25px;
//       color: var(--textColor);
//       font-size: 15px;
//     }
//   }
//   .filterOptions {
//     position: relative;
//     right: 0;
//     bottom: -48px;
//     color: var(--whiteColor);
//   }
//   .homeTitle {
//     &::after {
//       display: none;
//     }
//   }
// }


.home {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 8rem 0 4rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #396e82;
  mix-blend-mode: hard-light;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.HomeContent {
  z-index: 2;
  width: 100%;
  .textDiv {
    padding: 1rem 0;
    color: var(--whiteColor);
    .smallText {
      font-size: 13px;
    }
    .homeTitle {
      font-weight: 600;
      font-size: 1.9rem;
      width: fit-content;
      position: relative;
      &::after {
        content: "";
        width: 115px;
        height: 4px;
        background-color: var(--secondaryColor);
        position: absolute;
        top: 2.4rem;
        left: 12rem;
        z-index: -1;
      }
    }
  }
}

.formDiv {
  background-color: var(--whiteColor);
  border-radius: 8px;
  width: 100%;
  padding: 2rem 1.5rem 1rem;
  margin: 2rem 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.homeInputs {
  margin: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.searchDiv,
.dateDiv,
.priceDiv {
  width: 32%;
}

.input {
  background-color: var(--inputColor);
  border-radius: 3rem;
  height: 35px;
  width: 100%;
  margin-top: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    outline: none;
    border: none;
    width: 90%;
    font-size: 12px;
    background: none;
    &::placeholder {
      font-size: 13px;
    }
  }
}

.searchDiv {
  overflow: hidden;
  label {
    color: var(--textColor);
    font-size: 12px;
  }
  .glicon {
    font-size: 18px;
    margin-top: 6px;
  }
}

.dateDiv {
  label {
    color: var(--textColor);
    font-size: 12px;
  }
}

.priceDiv {
  display: flex;
  flex-direction: column;

  .lable-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    label {
      color: var(--textColor);
      font-size: 12px;
    }

    h3 {
      color: var(--textColor);
      font-size: 15px;
      margin: 0;
      position: relative;
    }
  }

  input[type="range"] {
    -webkit-appearance: none;
    width: 92%;
    height: 35px; 
    background: transparent;
    cursor: pointer;

    &::-webkit-slider-runnable-track {
      background: #e1e1e1;
      height: 6px;
      border-radius: 5px;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 16px;
      width: 16px;
      background: #888;
      border-radius: 50%;
      margin-top: -5px;
    }

    &::-moz-range-track {
      background: #e1e1e1;
      height: 6px;
      border-radius: 5px;
    }
    &::-moz-range-thumb {
      height: 16px;
      width: 16px;
      background: #888;
      border-radius: 50%;
      border: none;
    }
  }
}

.filterOptions {
  position: relative;
  bottom: -35px;
  color: var(--whiteColor);
  display: flex;
  align-items: center;
  gap: 5px;
}

.homeIcons {
  color: var(--whiteColorDeam);
  font-size: 23px;
  display: flex;
  margin-top: -16px;
  justify-content: space-between;
  .socialIcons {
    padding-right: 4px;
    cursor: pointer;
    &:hover {
      color: var(--secondaryColor);
    }
  }
}

@media screen and (max-width: 768px) {
  .home {
    display: flex;
    justify-content: center;
    padding-top: 6rem;
  }
  .HomeContent {
    position: relative;
    width: 100%;
  }
  .formDiv {
    padding: 2rem 1.5rem;
    .homeInputs {
      flex-direction: column;
      gap: 1.5rem;
    }
  }
  .searchDiv,
  .dateDiv,
  .priceDiv {
    width: 100%;
  }
  .priceDiv {
    .lable-total h3 {
      position: relative;
      right: 0;
    }
  }
  .filterOptions {
    bottom: -48px;
  }
  .homeTitle::after {
    display: none;
  }
}